*.o
conf/*.uae
conf/*.conf
kickstarts/*.rom
*.db
*.dep
*.ast
*.rdb
*.npd
*.rsp
*.suo
*.alldeps
*.log
*.lck
*.npa00
*.psf
*.000
*.001
*.opendb
*.npa01
*.idx
*.dat
VisualGDB/VisualGDB/Debug/Amiberry
VisualGDB/VisualGDB/Release/Amiberry
*.sqlite
*.ipch
*.db-shm
*.db-wal
*.TMP
VisualGDB/VisualGDB/Release/Amiberry-sdl2
*.npa00-cfdc2249
*.a
*.npa00-f5145647
VisualGDB/VisualGDB/Debug/Amiberry-sdl2
*.npa00-25509379
*.npa00-01e2471b
*.npa00-d8f9b35e
VisualGDB/VisualGDB/Debug/build68k
VisualGDB/VisualGDB/Debug/genblitter
VisualGDB/VisualGDB/Release/build68k
VisualGDB/VisualGDB/Release/genblitter
VisualGDB/VisualGDB/Release/genlinetoscr
VisualGDB/VisualGDB/Release/gencpu
VisualGDB/VisualGDB/Release/gencomp