# enriched with templates from https://www.gitignore.io/

# Amiberry files
conf/*.uae
conf/*.conf
roms/*.rom
roms/*.key
/amiberry*

# Build directories and CMake
cmake-build-*
cmake-build-debug
cmake-build-release
cmake-build-minsizerel
cmake-build-relwithdebinfo
_CPack_Packages

# VisualGDB
VisualGDB/VisualGDB/Debug
VisualGDB/VisualGDB/Release
VisualGDB/Amiberry/VisualGDB
VisualGDBCache
CodeDB
*.opensdf
*.sdf
*.suo
*.old

# NetBeans
nbproject*

# VSLinux
VSLinux/obj
VSLinux/bin
VSLinux/.vs

# IDEs and Editors
.idea/
.vs/
*.user
*___jb_old___
*.orig

# C/C++
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.slo
*.lai

# Android Studio/IntelliJ
*.iml
*.iws
/out/
.gradle/
bin/
gen/
out/
build/
.externalNativeBuild
captures/
.navigation/
*.ipr
*~
*.swp
obj/

# Miscellaneous
*.db
*.dep
*.ast
*.rdb
*.npd
*.rsp
*.alldeps
*.lck
*.psf
*.000
*.001
*.opendb
*.npa01
*.idx
*.dat
*.sqlite
*.ipch
*.db-shm
*.db-wal
*.TMP
*.npa00*
*.tlog

# Flatpak and Brew
.flatpak-builder/
.flatpak/
Brewfile.lock.json

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
.com.apple.timemachine.supported

# Eclipse
.classpath
.project
.cproject
.settings/

# Package files
*.war
*.ear

# Gradle wrapper
!/gradle/wrapper/gradle-wrapper.jar
