*.o
conf/*.uae
conf/*.conf
kickstarts/*.rom
*.db
*.dep
*.ast
*.rdb
*.npd
*.rsp
*.suo
*.alldeps
*.log
*.lck
*.npa00
*.psf
*.000
*.001
*.opendb
*.npa01
*.idx
*.dat
Amiberry/VisualGDB/Debug/Amiberry
Amiberry/VisualGDB/Release/Amiberry
