[submodule "external/libmpeg2"]
	path = external/libmpeg2
	url = https://android.googlesource.com/platform/external/libmpeg2
[submodule "external/capsimg"]
	path = external/capsimg
	url = https://github.com/FrodeSolheim/capsimg
[submodule "external\\libxml2"]
	path = external\\libxml2
	url = https://github.com/midwan/libxml2
