[Desktop Entry]
Version=1.0
Type=Application

Name=Amiberry-Preview
Comment=An Amiga emulator for Linux
Categories=Game;Emulator;

Icon=amiberry
Exec=amiberry.sh
Terminal=false

Keywords=emulator;raspberry-pi;rpi;emulation;amiga;amiga-emulator;
