[Desktop Entry]

# The type of the Desktop Entry, usually Application
Type = Application

# The version of the Desktop Entry specification to which this file complies
Version = 1.0

# The name of the application
Name = Amiberry

GenericName = Amiga Emulator

# A comment which can/will be used as a tooltip
Comment = Optimized Amiga Emulator

# The executable of the application, possibly with arguments
Exec = amiberry %f
TryExec = amiberry

# The name of the icon that will be used to display this entry
Icon = amiberry

# Describes whether this application needs to be run in a terminal or not
Terminal = false

# Describes the categories in which this entry should be shown
Categories = Game;Emulator;

MimeType=application/x-SPS-virtual-media-image;application/x-DMS-compressed-disk-image;application/x-amiga-disk-image;application/x-cue;application/x-WHDLoad-game-archive;application/x-UAE-savestate-file;

# Describes the encoding for the desktop entry
Encoding=UTF-8
